{% extends 'main.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="row">
    <div class="col-4 d-flex justify-content-center">
        <h3 class="mt-4">Olá <span class="custom-focus">{{current_user.nome}}</span></h3>
    </div>
</div>
<div class="row">
    <div class="col-6 custom-informer">Dados:</div>
    <div class="col-6 custom-informer">OS:</div>
    <div class="row">
        <div class="col-6">
            <ul class="dashboard">
                <div class="row">
                    <div class="col-12">
                        <li>Nome:&nbsp;&nbsp; {{current_user.nome}}</li>
                    </div>
                    <div class="col-12">
                        <li>Email:&nbsp;&nbsp; {{current_user.email}}</li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>


{% endblock %}