{% extends 'main.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
    {% if nome %}
    <h1>Olá {{nome}}</h1>
    {% else %}
    <div class="container-md">
        <form method="post" class="form-control mt-3 bb-form" autocomplete="off">
            {{form.hidden_tag()}}
            {{form.nome.label(class="form-label")}}
            {{form.nome(class="form-control")}}
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
            {{form.enviar(class="btn bb-btn mt-3")}}
        </form>
    </div>
    {% endif %}
{% endblock %}